<div class='card'>
    <div class="card-header">
        <h3 class="card-title"><%=t :carriers %></h3>
        <div class="card-options">
       <%= link_to "/carriers/new?workflow_id=#{@workflow.id}", remote: true, class: "btn btn-secondary btn-sm ml-1" do %>
        <i class="fe fe-plus" style="vertical-align: -3px;"></i> <%=t :new%>
        <%end%>
        </div>
    </div>

    <div class="card-body">
        <%= render partial: 'carriers/list', locals: {carriers: @carriers, workflow: @workflow}%>
    </div>
</div>


