<div class="container">
  <div class="row">
    <div class="col col-login mx-auto">
      <div class='card'>
        <div class="card-body p-6">
          <div class="text-center mb-6">
            <img src="/assets/logo.png" class="h-6" alt="">
          </div>

          <div><%=t :you_will_receive_an_email_shortly%>. <%=t :make_sure_you_check_your_spam_folder%></div>

          <div class="form-footer mb-3">
            <a href='/' class="btn btn-secondary btn-block"><%=t :back%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
