<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
            <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <div class="form-group">
              <%%= label :<%= singular_table_name %>, :<%= attribute.name %> , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></div>
            </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
