<div id='article_involvements_list'>
  <div class="table-responsive">
    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th><%=t :title%></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for involvement in Involvement.where(article_id: article.id)%>
        <tr>
          <td>
            <%if !involvement.publisher.blank?%>
              <%= involvement.publisher.title%>
            <%end%>
          </td>
          <td class="">
            <%= link_to involvement, method: :delete, remote: true, data: { confirm: "#{t(:are_you_sure_?)}" } do%>
              <i class="fe fe-trash"></i>
            <%end%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
